@font-face {
    font-family: MuseoSans-100;
    src: url(font/MuseoSans-100.otf);
}

@font-face {
    font-family: MuseoSans-300;
    src: url(font/MuseoSans-300.otf);
}

@font-face {
    font-family: MuseoSans-500;
    src: url(font/MuseoSans_500.otf);
}

@font-face {
    font-family: MuseoSans-700;
    src: url(font/MuseoSans_700.otf);
}

:root {
    --tx-a: 12px;
    --tx-li: 14px;
    --tx-span: 14px;
    --tx-p: 18px;
    --tx-h1: 38px;
    --tx-h2: 28px;
    --tx-h3: 19px;
    --tx-white: rgb(255, 255, 255);
    --color-text: rgb(77, 75, 75);
    --mus-100: MuseoSans-100;
    --mus-300: MuseoSans-300;
    --mus-500: MuseoSans-500;
    --mus-700: MuseoSans-700;
}

.tx-white {
    color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    color: var(--color-text);
    overflow: visible;
}

a {
    font-size: var(--tx-a);
}

li {
    font-size: var(--tx-li);
}

span {
    font-size: var(--tx-span);
}

p {
    font-size: var(--tx-p);
    font-family: var(--mus-100);
}

h1 {
    font-size: var(--tx-h1);
}

h2 {
    font-size: var(--tx-h2);
}

h3 {
    font-size: var(--tx-h3);
    font-family: var(--mus-500)
}

body {
    font-family: MuseoSans-100;
    margin: 0;
    padding: 0;
}

/* NAVBAR SUPERIORE */
.nav-superiore {
    display: flex;
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid lightgrey;
    gap: 6rem;
}

.left-box {
    display: flex;
    width: 50%;
    height: 3.5rem;
}

.logo {
    width: 17%;
    height: 3.43rem;
    background-color: red;
    justify-content:center;
}

.logo > img {
    width: 65%;
    margin-left: 20px;
    height: 3.43rem;
}

.search {
    width: 50%;
    display: flex;
    border-bottom: 1px solid black;
    height: 30px;
    margin: 12px 15px 10px 26px;
}

.search-input {
    padding: 0;
    border: none;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

input[type="search-input"] {
    border: none;
    margin-left: 5px;
    width: 270px;
}

.search:hover,
input[type="search-input"]:hover {
    cursor: pointer;
    color: red;
}

.search::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
}

.hambuger,
.hamburger i {
    display: none;
}

.right-box {
    display: flex;
    width: 50%;
    height: 3.43rem;
    justify-content: flex-end;
   
}

.interact {
    /* margin-right: 0.938rem; */
    display: flex;
    padding-top: 18px;
    justify-content: flex-end;
}

.interact ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 2rem;
}

.interact * {
    
    font-weight: bold;
    
}


.right-box li:hover {
    cursor: pointer;
    color: red
}

i.fas:hover {
    cursor: pointer;
    color: red;
}

/* NAVBAR INFERIORE */

.nav-inferiore {
    margin-top: 5px;
    width: 100%;
    height: 30px;
}

.wrapper-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-family: var(--mus-300);
    font-weight: bold;
}

.wrapper-nav li:hover {
    cursor: pointer;
    color: red;
}

.main-image{
    width: 100%;
}
.main-image img {
    
    width: 100%;
    overflow: visible;
}

i.fas,
i.fab {
    margin-right: 5px;
    font-size: var(--tx-p);
}

.grid {
    width: 100%;
    display: flex;
    grid-template-columns: 30vw 10vw 2vw 7vw;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    
    margin: 2rem auto;
    

}

.bottone {
    background-color: #e60012;
    color: #fff;
    border: 0;
    padding: 1.1rem;
    border-radius: 9px;
    font-weight: bold;
    width: 180px;
    height: 60px;
}

.bottone::after {
    content: ' > ';
    width: 57px;
}

.bottone:hover {
    width: 185px;
    height: 65px;
    background-color: rgba(199, 0, 0, 0.794);
    opacity: 1;
    border-radius: 9px;

}

.item1>h2 {
    font-size: 28px;
    font-family: MuseoSans-500;
}

.item4 {
    font-size: var(--tx-li)
}
.item3{
    display: flex;

}
.item3 > span{
    padding-left: 5px;
    align-self: center;
}

hr {
    margin: 71px 18vw ;
    color: rgb(240, 238, 238, 0.5);

}

.cards-container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    display: grid;
    overflow: visible;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap: 10px;

    
}

.card:hover {
    opacity: 0.8;
}

.cards-container img {
    border-radius: 10px;
    width: 100%;
    
}
.card{
    display: flex;
    flex-direction: column;

}
.cards-container h3 {
    color: rgb(77, 75, 75);
    height: 30px;
    padding-bottom: 10px;
}

.cards-container p {
    align-self: flex-start;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid red;
    width: 127px;
    font-family: var(--mus-100);
}

.container {
    display: flex;
    flex-direction: row;
    width: 63vw;
    margin: 0 auto;
    height: auto;
    background-color: rgba(240, 6, 6, 0.972);
}

.primo{
justify-content: space-around;
align-items: center;
}
.img-family {
    width: 100%;
}

.item-image {
    align-self: flex-start;
}

.item-image img {
    margin: 0px 0px 0px -50px;
}
/* 
.item-title {
    margin-top: 71px;
    width: 53%;
    color: var(--tx-white);
} */


#btn-shop {
    background-color: rgba(27, 26, 26, 0.3);
    color: #fff;
    width: 157px;
    height: 50px;
    
    border: none;
    border-radius: 9px;
    font-weight: bold;

}

#btn-shop::after {
    content: ' > ';
    font-size: 18px;
    color: var(--tx-white);
}

#btn-shop:hover {
    height: 56px;
    width: 163px;
    opacity: 1;
    transform: scale(1.2, 1.2);
}
.secondo{
    position: relative;
}

.explore {
    position: absolute;
    font-family: var(--mus-500);
    bottom: 97%;
}


.go-to-switch {
    display: flex;
    width: 63vw;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
}

.go-to-switch h2 {
    font-family: var(--mus-500);
}
.go-to-switch>.bottone{
    width: 350px;
    text-align: center;
}


.go-to-switch>.bottone>a {
    text-decoration: none;
    font-size: var(--tx-h3);
    font-family: var(--mus-500);
    color: var(--tx-white);
}

.go-to-switch>.bottone:hover {
    width: 355px;
    height: 65px;
    
}


/* INIZIO FOOTER */

div [class^="tf"] {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    gap: 1rem;
    /* flex : 0 1 10em; */
  }

  .top-footer>div>h4 {
      margin-top: 2.5rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      cursor: pointer;
    }


.change-r {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    gap: 10px;
    background-color: rgb(241, 241, 241);
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.top-footer {
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 25rem;
    flex-wrap: wrap;
}
img.flag-img {
    width: 1.2rem;
    height: 0.7rem;   
}

.top-footer>div>ul>li {
    list-style-type: none;
    margin-top: 8px;
    font-size: 12px;
    cursor: pointer;
}

.footer {
    background-color: #3f3d3d;
    width: 100%;
    min-height: auto;
}

.link-cont a {
    font-size: 1rem;
    font-family: var(--mus-700);
    text-decoration: none;
    font-weight: bolder;
    color: #ffffffd7;
}

.copyright p {
    font-family: var(--mus-100);
    color: #ffffffc9;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.38;
    margin: 0.5rem;
    font-weight: 300;
    line-height: 1;
}

.social-button button {
    color: white;
    display: inline-block;
    cursor: pointer;
    margin: 0.4rem;
    padding: 0;
    border-style: none;
    border-radius: 0.4em;
}

.fa-brands {
    color: white;
    border-radius: 0.2em;
    padding: 0.4em;
}

.block1 {
    display: grid;
    padding: 10px;
    justify-content: center;
}

.left-block {
    display: grid;
    padding: 0px;
    justify-content: center;
}

.section1 {
    display: grid;
    justify-content: center;
    grid-template-columns: 280px 80px;
    text-align: center;
    padding-top: 19px;

}

.link-cont {
    font-family: var(--mus-700);
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 17px;
    padding-bottom: 9px;
}

.block2 {
    margin-top: 11px;
}

.block3 {
    height: 70px;
}

.social-button1 {
    background-color: #1878f2;
}

.social-button2 {
    background-color: #d32c69;
}

.social-button3 {
    background-color: #1da1f2;
}

.social-button4 {
    background-color: #ff0200;
}


@media only screen and (min-width:320px) and (max-width:700px) {

    .nav-superiore {
        display: flex;
        margin-bottom: 6rem;
        justify-content: space-around;

    }

    .left-box {
        width: 100%;
    }

    .nav-inferiore {
        display: none;
    }

    .logo,
    .logo img {
        max-width: 3.8rem;
    }

    .search,
    .interact,
    .right-box {
        visibility: collapse;

    }

    .hambuger {
        height: 100%;
        width: 3.5rem;
        display: flex;
        justify-content: end;

    }














}