:root{
    --tx-a:12px;
    --tx-li:12px;
    --tx-span:14px;
    --tx-p:16px;
    --tx-h1:38px;
    --tx-h2:28px;
    --tx-h3:21px;
    --tx-white: rgb(255, 255, 255);
    --color-text: rgb(77, 75, 75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, serif;
    color: var(--color-text);
    
}
a{font-size: var(--tx-a);}
li{font-size: var(--tx-li);}
span{font-size: var(--tx-span);}
p{font-size: var(--tx-p);}
h1{font-size:var(--tx-h1);}
h2{font-size:var(--tx-h2);}
h3{font-size:var(--tx-h3)}

/* NAVBAR SUPERIORE */
.nav-superiore {
    display: flex;
    width: 100%;
    height: 55px;
    border: 1px solid lightgrey;
}

.left-box {
    display: flex;
    width: 40vw;
    
}

.logo {
    width: 26%;
    height: 100%;
    background-color: red;
}
.logo > img{
    margin: 13px 23px 8px 20px;
}

.search {
    width: 70%;
    display: flex;
    border-bottom: 1px solid black;
    height: 30px;
    margin: 12px 15px 10px 26px;
}

.search-input {
    padding: 0;
    border: none;
    box-sizing: border-box;

}

input:focus {
    outline: none;
}

input[type="search-input"]{
    border:none;
    margin-left: 5px;
    width: 270px;
}
.search:hover,input[type="search-input"]:hover{
    cursor: pointer;
    color: red;
}
.search::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
}

.right-box {
    display: flex;
    width: 60vw;
    height: 100%;
    justify-content: flex-end;
    
}

.interact{
    margin-right: 15px;
    display: flex;
    padding-top: 18px;
    gap: 30px;
}
.interact ul{
    display: flex;
    list-style: none;
}
.interact * {
    gap: 15px;
   font-weight: bold;
}


.right-box li:hover{
    cursor: pointer;
    color:red
}
i.fas:hover{
    cursor: pointer;
    color:red;
} 
/* NAVBAR INFERIORE */

.nav-inferiore {
    margin-top: 5px;
    width: 100%;
    height: 30px;
}

.wrapper-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.wrapper-nav li:hover{
    cursor: pointer;
    color:red;
}


.main-image img {
    display: flex;
    margin-top: 5px;
    height: 500px;
    width: 100%;
}
i.fas,
i.fab {
    margin-right: 5px;
    font-size: var(--tx-li);
}


.order {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom:50px
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 30vw 10vw 2vw 7vw;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    padding: 1rem;
}

#bottone{
    background-color: #e60012;
    color: #fff;
    border: 0;
    padding: 1.1rem;
    border-radius: 9px;
    font-family: Verdana, serif;
    font-weight: bold;
    width: 180px;
    height: 60px;
}
#bottone::after{
    content: ' > ';
    width: 57px;
}

#bottone:hover{
    width: 185px;
    height: 65px;
    background-color: rgba(199, 0, 0, 0.794); 
     opacity: 1; 
     border-radius: 9px;
     
}
.item1 > h2{font-size:26px;}

.item4{font-size: var(--tx-li)}
hr{
    margin: auto 18vw;
    color: rgb(240, 238, 238, 0.5);
    
    }

.cards-container{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(6, minmax(230px,auto)); 
    grid-template-rows: 250px;
    gap:10px;
}
.card:hover{
    opacity: 0.8;
}

.cards-container img{
    border-radius: 10px;
    width: 100%;
    /* height: 180px; */
}
.cards-container h3{
    color: rgb(77, 75, 75);
    padding: 8px;
    
}
.cards-container p{
   margin-top: 10px;
   font-size: small; 
   border-bottom: 2px solid red;
   width: 127px;
   padding: 8px;
}

.container{
    display: flex;
    flex-flow: row;
    width: 63vw;
    margin: 80px auto;
    height: auto;
    background-color: rgba(240, 6, 6, 0.972);
    transition: width 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container > h2{color:var(--tx-white);}
.container:hover{
    width: 70%;
}
.item-image{
    width: 24%;
}
.item-image img {
    margin: 0px 0px 0px -50px;
}
.item-title{
    margin-top: 71px;
    width: 53%;
    color: var(--tx-white);
}
.item-btn{
    flex-grow: 4;
}
#btn-shop{
    background-color:rgba(27, 26, 26, 0.3);
    color: #fff;
    width: 157px;
    height: 50px;
    margin: 94px 0px 0px 88px;
    padding: 1rem;
    border:none;
    border-radius: 9px;
    font-family: Verdana, serif;
    font-weight: bold;
  
}
#btn-shop::after{
    content:' > ';
    font-size: 18px;
    color: var(--tx-white);
}
#btn-shop:hover{
    height: 56px;
    width: 163px;
    opacity: 1;
    transform: scale(1.2,1.2);
}

.explore{margin: 43px 348px;}

.footer {
    background-color: #3f3d3d;
    width: 100%;
    min-height: auto;
    border: 1px solid lightgrey
}

.link-cont a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
    color: var(--tx-white);
}

.copyright p {
    color: #ffffffb5;
    text-align: center;
    font-size: 75%;
    margin: 1%;
    font-weight: 300;
    font-family: sans-serif;
    line-height: 1;
}

.social-button button {
    color: white;
    display: inline-block;
    cursor: pointer;
    margin: 6px;
    border-style: none;
    border-radius: 0.4em;
}

.fa-brands {
    background-color: papayawhip;
    border-radius: 0.2em;
    padding: 0.4em;
}

.block1 {
    display: grid;
    padding: 10px;
    justify-content: center
}

.left-block {
    display: grid;
    padding: 0px;
    justify-content: center
}

.section1 {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 80px;
    text-align: center;
    padding-top: 19px;

}

.link-cont {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 17px;
    padding-bottom: 9px;
  }

.block2  {
    margin-top: 11px
}





@media only screen and (min-width:150px) and (max-width:700px) {}