* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.container-links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.logo-principale {
    background-color: #E60012;
    max-height: 100%;
    width: 140px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20001;
}
svg#Livello_1 {
    width: 106px;
}

.search-input {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 8px;
}
.search-input:hover {
    border-bottom: 2px solid red;
}
.wrapper {
    display: flex;
    border-bottom: 1px solid #e7e7e7;
}
.search.wrapper {
    margin-left: 1rem;
    border: 0px;
}
i.fas.fa-search.searchInput {
    margin-right: 5px;
    color: #484848;
}
input.input-search {
    color: #484848;
    min-width: 375px;
    border: 0;
    padding: 0.4rem;
    font-family: Verdana, serif;
}
input.input-search:focus {
    outline: none;
}
.nav-links > ul {
    display: flex;
    list-style: none;
}
.nav-links > ul > li {
    margin-right: 8px;
}
.nav-links {
    position: absolute;
    right: 40px;
    top: 18px;
    color: #484848;
    font-family: Verdana, serif;
    font-size: 14px;
    font-weight: bold;
}
.navlink-container > ul {
    display: flex;
    list-style: none;
}
.navlink-container > ul > li {
    margin-right: 1rem;
}
.navlink-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-height: 100%;
    margin: 0 auto;
    padding: .6rem;
    font-family: Verdana, serif;
    font-size: 14px;
    font-weight: bold;
    color: #565656;
    border-bottom: 1px solid #e7e7e7;
}
i.fas.fa-gamepad {
    font-size: 20px;
    color: #565656;
}

i.fas.fa-headset {
    font-size: 20px;
    color: #565656;
}
i.fas.fa-comment-alt {
    font-size: 20px;
    color: #565656;
}
i.fas.fa-star {
    font-size: 20px;
    color: #565656;
}
.logo-container {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
.link-series > ul {
    list-style: none;
    display: flex;
}
.link-series > ul > li {
    margin-right: 2rem;
}
.link-series {
    margin-left: 3rem;
    font-size: 12px;
    font-weight: bold;
    color: #484848;
    font-family: Verdana, serif;
}
a {
    color: #484848;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.main-container {
    text-align: center;
    margin: 0 auto;
}
section.image-two {
    margin-top: 2rem;
}
.main-container.two {
    position: relative;
}
img.image-first {
    max-width: 90%;
}
img.image-second {
    max-width: 90%;
    margin-top: 2rem;
    margin-bottom: -4px;
    position: relative;
}
.main-section{
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.image-info {
    background-color: #e60012;
    max-width: 1180px;
    height: 80px;
    color: #fff;
    margin: 0 auto;
    background-image: linear-gradient(180deg, #C4000F 0%, #E60012 100%);
}
.left-text {
    display: inline-flex;
    float: left;
    font-family: Verdana, serif;
    font-weight: bold;
    padding: 2rem;
    font-size: 20px;
}
.right-text {
    display: inline-flex;
    float: right;
    font-family: Verdana, serif;
    font-weight: bold;
    padding: 2rem;
    font-size: 20px;
}
.image-wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
    min-height: 680px;
    background-image: url(/assets/oled-model-promo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.image-containers {
    margin: 0 auto;
    max-width: 1310px;
    margin-top: 2rem;
}
.text-container {
    background-color: rgba(0, 0, 0, 0.3);
}
.text-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    color: #fff;
    font-weight: bold;
    z-index: 10000;
    font-family: Verdana, serif;
}
.text-row {
    margin-top: 2rem;
    position: absolute;
    font-size: 24px;
    margin-left: 1rem;
}
span.price {
    margin-top: 2rem;
    position: absolute;
    font-size: 24px;
    margin-left: 26rem;
}
.second-container {
    position: relative;
}
.second-container .after {
    position: absolute;
    height: 150px;
    left: 0;
    font-family: Verdana, serif;
    text-align: left;
    padding: 2rem;
    font-weight: bold;
    width: 100%;
    font-size: 1.5rem;
    top: -133px;
    color: #FFF;
}
.second-container .after {
    display: block;
    background: rgba(0, 0, 0, .2);
}
.after.right {
    background: transparent;
    text-align: right;
}
p.desc {
    text-align: left;
    font-size: 15px;
    font-weight: 100;
    bottom: 30px;
    position: absolute;
}
span.link-arrow {
    position: absolute;
    bottom: 31px;
    right: 30px;
}
i.fas.fa-chevron-right {
    font-size: 40px;
}
.section-three-grid {
    display: grid;
    grid-template-columns: 0.57fr 0.43fr;
    grid-column-gap: 1em;
    grid-row-gap: 0;
    align-items: end;
    margin: 0 auto;
    max-width: 1183px;
    position: relative;
}
section.thirdsection {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
img.imageright {
    width: 100%;
}
img.imageleft {
    width: 100%;
}
.container {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}
.caption-image {
    position: relative;
    height: 100px;
    padding: 2rem;
    font-size: 22px;
    color: #fff;
    display: flex;
    font-family: Verdana, serif;
    background: rgba(0, 0, 0, .2);
}
.left {
    background-image: linear-gradient(
            180deg
            , #C4000F 0%, #E60012 100%);
}
.container.banner {
    border: 1px solid;
    max-width: 1183px;
    background-image: url(/assets/quadretti.jpeg);
    background-size: 656px;
}
.first-banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;
}
img.bannerimg {
    max-width: 390px;
    width: 100%;
}
.banner-text {
    font-family: Verdana, serif;
    font-size: 20px;
    font-weight: bold;
    color: #343434;
}
button.banner-button {
    background-color: #e60012;
    color: #fff;
    border: 0;
    padding: 1rem;
    border-radius: 9px;
    font-family: Verdana, serif;
    font-weight: bold;
}
button.banner-button:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.1) perspective(1px);
}
i.fas.fa-chevron-right.button {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 8px;
}
section.two-banner {
}
.grid-two-banner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    max-width: 1183px;
    grid-gap: 2rem;
}
.left-side-banner {
    border: 1px solid #343434;
    padding: 1rem;
}
.right-side-banner {
    border: 1px solid #343434;
    padding: 1rem;
}
.text-left-side {
    display: inline-grid;
    vertical-align: top;
    font-family: Verdana, serif;
    font-size: 2rem;
    margin-left: 3rem;
    margin-top: 1rem;
    color: #343434;
}
.text-right-side {
    display: inline-grid;
    vertical-align: top;
    font-family: Verdana, serif;
    font-size: 2rem;
    margin-left: 3rem;
    margin-top: 1rem;
    color: #343434;
}
button.banner-button.leftside {
    margin-top: 10px;
}
.fullwidth-grid-banner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    max-width: 1183px;
    grid-gap: 2rem;
    background: #e60012;
}
section.full-width-banner {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
picture.pict-one {
    margin-bottom: -4px;
}
picture.pict-two {
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.inner-text {
    color: #fff;
    font-family: Verdana,serif;
    padding-top: 1rem;
}
button.banner-button.fullwidth-right {
    background-color: #ffffff;
    color: red;
}
.pulsante-destrs {
    padding-top: 5rem;
}
img.bannerimg.responsive {
    width: 100%;
    height: auto;
}
.fullwidth-grid-banner.yellow {
    background: linear-gradient(180deg, #FEEAB0 0%, #FFFCF3 100%);
    align-items: center;
}
img.bannerimg.responsive.bowser {
    max-width: 270px;
}
img.bannerimg.responsive.parental {
    max-width: 130px;
}
.middle-picture {
    display: inline-flex;
    vertical-align: middle;
}
span.middle-text {
    font-family: Verdana, serif;
    font-size: 22px;
    font-weight: bold;
    color: #343434;
}
.bottom-text {
    font-family: Verdana,serif;
}
.disclaimer {
    max-width: 1183px;
    text-align: left;
    margin: 0 auto;
    margin-top: 2rem;
    color: #343434;
}
footer {
    background: linear-gradient(to top, #e7e7e7 0, #f9f9f9 75%);
}
ul.footer-ul {
    list-style: none;
    font-family: system-ui;
}
h4.titletext {
    margin-bottom: 1rem;
    font-size: 14px;
}
li.footer-li {
    font-size: 14px;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    background: linear-gradient(to top, #e7e7e7 0, #f9f9f9 75%);
    max-width: 1183px;
    margin: 0 auto;
}
.blocco-footer {
    padding: 1rem;
    font-family: Verdana, serif;
    color: #484848;
}
footer.footer-second {
    background: linear-gradient(to bottom, #3c3a3a 0, #484848 50%);
    min-height: 150px;
}
.footer-second-grid {
    display: flex;
    max-width: 1183px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.contactus {
    display: inline-flex;
    color: #fff;
    font-family: Verdana, serif;
    padding-top: 2rem;
    padding-bottom: 8px;
    margin-right: 10px;
}
.square.facebook {
    background: #3b5998;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}
.square.insta {
    background: #E1306C;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}
.square.twitter {
    background: #1DA1F2;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}
.square.youtube {
    background: #ff0000;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}
.social-icon {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px, 1fr));
    max-width: 237px;
    margin: 0 auto;
    line-height: 50px;
    color: #FFF;
    align-items: center;
    justify-content: center;
}
img.bannerimg.responsive.esrb {
    width: 100%;
    height: auto;
    max-width: 170px;
}
.esrb-logo {
    position: absolute;
    margin-left: 330px;
    margin-top: 100px;
}
.copyright-one {
    text-align: center;
    padding-top: 2rem;
    font-family: monospace;
    color: #fff;
}
.copyright-two {
    text-align: center;
    margin-top: 7px;
    font-family: monospace;
    padding-bottom: 2rem;
    color: #fff;
}
@media (max-width: 898px) {
    .nav-links {
        display: none;
    }
}

img.logo-footer-nintendo {
    width: 90px;
}
img.logo-header-nintendo {
    width: 100px;
}